In [126]:
%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [127]:
%reload_ext sqlitemagic

In [128]:
%%sqlite survey.db
.schema

In [130]:
%%sqlite survey.db
SELECT * FROM Person;

In [131]:
%%sqlite survey.db
SELECT * FROM Survey;

In [132]:
%%sqlite survey.db
.schema

In [136]:
%%sqlite survey.db
SELECT family, personal FROM Person;

In [137]:
%%sqlite survey.db
SELECT * FROM Person;

In [138]:
%%sqlite survey.db
SELECT ident, ident, ident FROM Person;

In [139]:
%%sqlite survey.db
SELECT * FROM Person;

In [144]:
%%sqlite survey.db
SELECT * FROM Site;

In [145]:
%%sqlite survey.db
SELECT * FROM Survey;

In [146]:
%%sqlite survey.db
SELECT quant FROM Survey;

In [147]:
%%sqlite survey.db
SELECT DISTINCT quant FROM Survey;

In [148]:
%%sqlite survey.db
SELECT DISTINCT taken, quant FROM Survey;

In [149]:
%%sqlite survey.db
SELECT * FROM Person ORDER BY ident;

In [150]:
%%sqlite survey.db
SELECT * FROM Person ORDER BY ident DESC;

In [151]:
%%sqlite survey.db
SELECT taken, person, quant
FROM Survey
ORDER BY taken ASC, person DESC;

In [152]:
%%sqlite survey.db
SELECT DISTINCT quant, person
FROM Survey
ORDER BY quant ASC;

In [154]:
%%sqlite survey.db
-- Write a query that selects distinct dates from the Visited table
SELECT DISTINCT dated FROM Visited;

In [156]:
%%sqlite survey.db
-- query that displays the full names
-- of the scientists in the Person table,
-- ordered by family name
SELECT personal, family FROM Person
ORDER BY family;

In [157]:
%%sqlite survey.db
SELECT * FROM Visited WHERE site='DR-1';

In [158]:
%%sqlite survey.db
SELECT * FROM Visited
WHERE site='DR-1'
AND dated<'1930-01-01';

In [159]:
%%sqlite survey.db
SELECT * FROM Survey
WHERE person='lake' OR person='roe';