In [126]:
%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [127]:
%reload_ext sqlitemagic

In [128]:
%%sqlite survey.db
.schema

In [130]:
%%sqlite survey.db
SELECT * FROM Person;

In [131]:
%%sqlite survey.db
SELECT * FROM Survey;

In [132]:
%%sqlite survey.db
.schema

In [136]:
%%sqlite survey.db
SELECT family, personal FROM Person;

In [137]:
%%sqlite survey.db
SELECT * FROM Person;

In [138]:
%%sqlite survey.db
SELECT ident, ident, ident FROM Person;

In [139]:
%%sqlite survey.db
SELECT * FROM Person;

In [144]:
%%sqlite survey.db
SELECT * FROM Site;

In [145]:
%%sqlite survey.db
SELECT * FROM Survey;

In [146]:
%%sqlite survey.db
SELECT quant FROM Survey;

In [147]:
%%sqlite survey.db
SELECT DISTINCT quant FROM Survey;

In [148]:
%%sqlite survey.db
SELECT DISTINCT taken, quant FROM Survey;

In [149]:
%%sqlite survey.db
SELECT * FROM Person ORDER BY ident;

In [150]:
%%sqlite survey.db
SELECT * FROM Person ORDER BY ident DESC;

In [151]:
%%sqlite survey.db
SELECT taken, person, quant
FROM Survey
ORDER BY taken ASC, person DESC;

In [152]:
%%sqlite survey.db
SELECT DISTINCT quant, person
FROM Survey
ORDER BY quant ASC;

In [154]:
%%sqlite survey.db
-- Write a query that selects distinct dates from the Visited table
SELECT DISTINCT dated FROM Visited;

In [156]:
%%sqlite survey.db
-- query that displays the full names
-- of the scientists in the Person table,
-- ordered by family name
SELECT personal, family FROM Person
ORDER BY family;

In [157]:
%%sqlite survey.db
SELECT * FROM Visited WHERE site='DR-1';

In [158]:
%%sqlite survey.db
SELECT * FROM Visited
WHERE site='DR-1'
AND dated<'1930-01-01';

In [159]:
%%sqlite survey.db
SELECT * FROM Survey
WHERE person='lake' OR person='roe';

In [160]:
%%sqlite survey.db
SELECT * FROM Survey
WHERE person IN ('lake','roe');

In [161]:
%%sqlite survey.db
SELECT * FROM Survey
WHERE quant='sal'
AND person='lake' OR person='roe';

In [162]:
%%sqlite survey.db
SELECT * FROM Survey
WHERE quant='sal'
AND (person='lake' OR person='roe');

In [163]:
%%sqlite survey.db
SELECT * FROM Visited WHERE site LIKE 'DR%';

In [167]:
%%sqlite survey.db
SELECT DISTINCT person, quant
FROM Survey
WHERE person IN ('lake', 'roe');

In [176]:
%%sqlite survey.db
SELECT * FROM Site
WHERE lat > -60 AND lat < 60;

In [173]:
%%sqlite survey.db
-- Normalized salinity (sal) readings are supposed to be
-- between 0 and 1. Write a query that selects all records
-- from Survey with salinity values outside of this range
SELECT * FROM Survey
WHERE quant='sal'
AND (reading<0 OR reading>1);

In [177]:
%%sqlite survey.db
SELECT 1.05 * reading
FROM Survey
WHERE quant='rad';

In [179]:
%%sqlite survey.db
SELECT taken, quant, round(5*(reading-32)/9, 2)
FROM Survey
WHERE quant='temp';

In [183]:
%%sqlite survey.db
SELECT personal || ' ' || family
FROM Person;

In [184]:
%%sqlite survey.db
SELECT dated FROM Visited;

In [185]:
%%sqlite survey.db
SELECT min(dated) FROM Visited;

In [186]:
%%sqlite survey.db
SELECT max(dated) FROM Visited;

In [187]:
%%sqlite survey.db
SELECT avg(reading) FROM Survey
WHERE quant='sal';

In [190]:
%%sqlite survey.db
SELECT count(reading) FROM Survey
WHERE quant='sal';

In [191]:
%%sqlite survey.db
SELECT count(*) FROM Survey
WHERE quant='sal';

In [192]:
%%sqlite survey.db
SELECT sum(reading) FROM Survey
WHERE quant='sal';

In [195]:
%%sqlite survey.db
SELECT person, count(reading), round(avg(reading), 2)
FROM Survey
WHERE quant='rad';

In [201]:
%%sqlite survey.db
SELECT person, quant, count(reading),
round(avg(reading), 2) AS avg_reading
FROM Survey
WHERE quant='rad'
GROUP BY person;

In [210]:
%%sqlite survey.db
-- How many temperature readings did Frank Pabodie record,
-- and what was their average value?
SELECT count(*), avg(reading) FROM Survey
WHERE person='pb'
AND quant='temp';

In [211]:
%%sqlite survey.db
SELECT * FROM Site JOIN Visited;

In [213]:
%%sqlite survey.db
SELECT * FROM
Site JOIN Visited
ON Site.name=Visited.site;

In [215]:
%%sqlite survey.db
SELECT Site.lat, Site.long, Visited.dated,
Survey.quant, Survey.reading
FROM Site
JOIN Visited ON Site.name=Visited.site
JOIN Survey ON Visited.ident=Survey.taken
WHERE Visited.dated IS NOT NULL;

In [226]:
%%sqlite survey.db
-- write a query that lists all
-- radiation readings from the DR-1 site
SELECT Site.name, Visited.dated, Survey.reading
FROM Survey
JOIN Visited ON Visited.ident=Survey.taken
JOIN Site ON Site.name=Visited.site
WHERE Site.name='DR-1'
AND Survey.quant = 'rad';

In [1]:
import pymongo

In [2]:
from pymongo import MongoClient

In [7]:
conn = MongoClient(host='localhost', port=57017)

In [8]:
db = conn.things

In [10]:
animals = [
    {'name': 'Barry', 'type': "Bear"},
    {'name': 'Michelle', 'type': "Lemur"}
]

In [11]:
db.animals.insert(animals)

[ObjectId('5639474a36909f3e3e4fea8b'), ObjectId('5639474a36909f3e3e4fea8c')]