In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
%reload_ext sqlitemagic

In [53]:
%%sqlite example.db
select * from person;

In [54]:
%%sqlite example.db
select personal from person;

In [55]:
%%sqlite example.db
splodge;

exception near "splodge": syntax error

In [56]:
%%sqlite example.db
select * from somewhere;

exception no such table: somewhere

In [57]:
%%sqlite example.db
insert into person values(NULL, NULL);

exception database is locked

In [58]:
%%sqlite example.db
insert into person values('John', 'von Neumann');

exception database is locked

In [59]:
%%sqlite example.db
select * from person;