In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
%reload_ext sqlitemagic

In [23]:
%%sqlite survey.db
.schema

In [47]:
%%sqlite survey.db
SELECT * FROM Survey
WHERE person IN ('lake', 'roe');